.blogpage{
  background-color: #000350;
}

.blogcontainer {
    max-width: 95%;
    margin: auto;
    margin-top: 50px;
    background-color: #000350;
}

.boxItems{
border: 1px solid #e6e6e6;
border-radius: 12px;
padding: 20px;
background: #fff;
}
.grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }

.blog {
    /* margin: 50px 0; */
    background-color: #000350;
  }
  .blog .boxItems {
    transition: 0.5s;
  }
  .blog .boxItems:hover {
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
    cursor: pointer;
    transform: translateY(-5px);
  }
  .blog img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .blog .icon {
    margin-right: 10px;
    font-size: 20px;
  }
  .blog h3 {
    font-weight: 500;
  }
  .blog p {
    color: #999;
    font-weight: 400;
    margin: 20px 0;
    font-size: 17px;
    line-height: 25px;
  }
  .blog .date {
    display: flex;
    align-items: center;
  }
  .blog .date label {
    display: block;
    margin-right: 20px;
  }
  /* body {
      font-family: 'Rammetto One', cursive;
    
      font-size: 25px;
      margin: 50px;
    } */
    .cobriute {
      display: flex;
      margin: auto 0;
      margin-left: 80%;
    }
    .cobriute a {
      display: flex; 
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-size: 1.1em;
    }
    .cobriute a i {
      display: flex;
      background-color: #ffffff;
      color: #00a2e8;
      border: 1px solid #00a2e8;
      padding: 6.8px 8px;
      font-size: 1.1em;
      vertical-align: middle;
      top: -2px;
    }
    .cobriute a span {
      background-color: #00a2e8;
      color: #ffffff;
      border: 1px solid #00a2e8;
      padding: 6.8px 8px;
    }
    .space{
      margin: 50px;
    }
    .resume-section {
      background-image: linear-gradient(62deg, #041d37 0%, #e0c3fc06 100%);
      color: #ffffff;
    }